<!-- <li class="book">
    <p>{{book.Name | titlecase}} by {{book.Author | titlecase}}</p>
    <img [src]="book.Image" [alt]="book.Name">
    <p>{{book.Price | currency: 'USD'}}</p>

     
</li> -->

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <p>{{book.Name | titlecase}} by {{book.Author | titlecase}}</p>
    </mat-card-header>
    <img mat-card-image [src]="book.Image" alt="book.Name">
    <mat-card-content>
        <p>{{book.Price | currency: 'USD'}}</p>
    </mat-card-content>
    <mat-card-actions>        
        <div class="example-button-row">
            <button mat-fab extended color="primary">
                <mat-icon>shopping_cart</mat-icon>
                Add to Cart
              </button>
        </div>
    </mat-card-actions>
</mat-card>